
<div class="jumbotron">

  <h1> BIENVENIDO RAVESOFT v1.0 </h1>
  <h2>Esta es la pagina de inicio</h2>
    
  <p><center>
    <a class="btn btn-primary btn-large" href="users/new">Inicia sesión</a>
  </p></center>
  
</div>
	