
<div class="jumbotron">

  <h1> BIENVENIDO RAVESOFT v1.0 </h1>
  <h2>Esta es la pagina de inicio</h2>
    
  <p><center>
    <%= link_to "Sign in", new_user_session_path %>
  </p></center>
  
</div>
	