@import "bootstrap";
@import "bootstrap-sprockets";

/* ver pagina guardada en favoritos a ver esto que es */

/* Universal config */

html {
	overflow-y: scroll; 
}

body{
	padding-top: 60px;
}

section{
	overflow: auto;
}

textarea{
	resize: vertical;
}

.center {
	text-aling: center;
}

.center h1 {
	margin-bottom: 10px;
}

/* Typography */

h1, h2, h3, h4, h5, h6{
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

/* Formularios */

input, textarea, select, .uneditable-imput {
	border: 1px solid #bbb;
	width: 70%;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	/* @include box_sizing; */
}