html, body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}


.be-red{
	background-color: rgb(200,50,50);
}

.white{
	color:white
}

.large-padding{
	padding: 15px 15px;
}
a,a:visited{
	color: inherit !important;
	text-decoration: none;
}
.no-margin{
	margin: 0px;
}